
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    font-family: "Poppins", sans-serif ;
    line-height: 1.7;
    position: relative;
    background-color: #e7f1ee;
    height: 100vh;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    height: 560px;
    width: 300px;
    border-radius: 30px;
    -webkit-box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
    box-shadow : 0px 57px 72px -30px rgba(81, 108, 95, 0.46);
}


.next-screen{
    position: absolute;
    background: #101010;
    height: 100%;
    width: 100%;
    padding: 40px 25px 0px 25px;
    z-index: 100;
    display: none;
}
.screen-1 .top{
    position: relative;
    margin: 25px;
    width: 100%;
    height: 300px;
    background-image: url("shutter.PNG");
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.screen-1{
    padding: 10px 50px 0px 0px;
}
.screen-1 .top h1{
    text-shadow: 0px 2px 12px rgba(0,0,0,0.86);
    position: absolute;
    padding: 40px 20px;
    color: #fff;
    bottom: 0;
    line-height: 1;
    z-index: 1;
}

.screen-1 .top h1 span{
    font-size: 24px;
    font-weight: 200px;
}
.screen-1 .button{
    position: absolute;
    left: 50%;
    top: 84%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #101010;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    z-index: 200;
}

.screen-1 .button svg{
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 52%;
    fill: #fff;
}

.screen-1 .loading{
    position: absolute;
    bottom: 16px;
    left: 40px;
    font-size: 14px;
    font-weight: 500;
    z-index: 210;
}